#footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 2.5rem;
    padding-top: 100%;
    /* Footer height */
    text-align: center;
}

#carouselExampleControls {

    width: 880px;
    height: 350px;
    margin: 5%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    padding: 10px;
    padding-top: 150px;
    padding-bottom: 100px;
}

.grid-item {
    margin: 8%;
}

#content {
    padding: 2%;
}


#main {
    width: 1260px;
    margin: 0 auto;
    position: relative;
    background-color: white;
}

.main-aside {
    width: 400px;
    float: right;
    position: relative;
    background-color: white;
    padding: 1px;
    margin: 2%;
    margin-top: 2px;
    margin-right: 150px;
}

#container {
    width: 660px;
    float: left;
    background-color: white;
}

#wrapper {
    min-height: 100%;
    position: relative;
    padding: 10px 0;
    background-color: #e4e4e4;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: rgb(138, 138, 6);
    color: rgb(212, 20, 52);
}